#pfp{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    display: block;
    justify-content: center;
    align-items: center;
}

.userdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
